html,body { height:100%; } 

.wrapper {
    background-image: url(http://i12.tietuku.com/28f271143d54c978.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    width: 100%;
    height: 100%;
}

.header {
    text-align: center;
    padding-top: 10%;
    font-family: 'Bad Script', cursive, Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    font-size: 2.2em;
    color: #F5AB35;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

::selection {
  background: #317572; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #317572; /* Gecko Browsers */
}

div.footer > p > a {
    color: #F62459;
}




body {
    background: #485563;
    background: linear-gradient(top,  #485563 0%,#29323c 100%);
    background: -ms-linear-gradient(top,  #485563 0%,#29323c 100%);
    background: -o-linear-gradient(top,  #485563 0%,#29323c 100%);
    background: -webkit-linear-gradient(top,  #485563 0%,#29323c 100%); 
    background: -webkit- gradient(linear, left top, left bottom, color-stop(0%,#485563), color- stop(100%,#29323c)); 
    background: -moz-linear-gradient(top,  #485563 0%,#29323c 100%); 
    
}

.clsloader {
    margin-top: auto;
    margin-left: 50%;
    margin-top: 10%;
}

.ball-spin-fade-loader>div {
    border: 2px solid #F62459;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 1%;
    font-family: 'Niconne', cursive, Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    font-size: 1.8em;
    color: #F9BF3B;
}